:root{
    --siteColor:#00BDFE;
}

.text-site{
    color:var(--siteColor);
}

.bg-site{
    background-color: var(--siteColor);
}

.btn-site{
    background-color: var(--siteColor);
}

.fs-9{
    font-size:.9rem;
}

.fs-8{
    font-size:.8rem;
}

.rounded-medium{
    border-radius: 1rem;
}

/* General Classes */

/* Nav SECTION */

nav{
    z-index:999999
}

.bg-nav-site{
   background-color: #F7F7F7;
    position: absolute;
    width: 80%;
    left: 50%;
    TRANSFORM: TRANSLATEX(-50%);
    padding-right: 2rem;
    padding-left: 2rem;
}


.bg-nav-site a,.dropdown-menu a{
    color:#000 !important;
}
.navBorder{
    border-bottom: 1px solid #eee;
}

.login{
    position:absolute;
    right:calc(var(--bs-navbar-toggler-font-size) + 60px );
    top:12px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    top: 131%;
    left: 24px;
}
.dropdown-menu[data-bs-popper] {
    top: 131%;
    left: 24px;
}

.navbar-nav .nav-link.active{
   color:var(--siteColor) !important;
}

.menulinks{
    border-bottom: 1px solid #C7C7C7;
}

.f-p{
    font-size:.9rem;
    line-height: 1.8rem;
}

/* Nav SECtion */

#Banner{
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center top;
    height: 130vh;
}

.heading{
    font-size:3rem;
}


.border-Banner{
    border-top:1px solid #606062;
}

.btnBanner:hover{
background-color: #fff;
color:var(--siteColor)!important;
}

.linkBanner:hover{
    color:var(--siteColor) !important;
}

.BannerPics {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    bottom:-90px;
}

.btn-left{
    position: relative;
  left:-10px;
  z-index:30;
}

.btn-right{
    position: relative;
    right:-10px;
    z-index:30;
}
.BannerPics >div:first-of-type{
    top:50%;
    z-index: 100;
}
.contestCard{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(110%);
    transition: all 1s;
}

.mySlides > div:hover  .contestCard{
    transform: translateY(0);
}

.BannerCaption{
    top:20px;
}


/* Categories SECTION */

.Categories {
    top:200px;
}

.categoryCard {
    border:1px solid #E0E0E0;
}

.CategoryIcon{
    background-color: #F7F7F7;
}

.btnBorder{
    border:1px solid var(--siteColor);
}

.btnBorder:hover{
    background-color: var(--siteColor)!important;
    color:#fff;
}
.categoryLike{
    transform: translateY(-100px);
    transition: all .5s;
}

.categoryImg:hover .categoryLike{
    transform: translateY(0);
}
.topbadge{
    margin-left:-2px;
}
.DiscoverBtn:hover{
    border-color:var(--siteColor);
    color:var(--siteColor)!important;
}
@media screen and (min-width:400px){
    .BannerPics {
        bottom:-120px;
    }
}

@media screen and (min-width:500px){
    #Banner{
        height:115vh;
       }
       .BannerPics {
        bottom:-140px;
    }
}

@media screen and (min-width:768px){
    
    #Banner{
        height:110vh;
       }

    .BannerPics {
        bottom:-150px;
    }
    .btn-left{
        left:-50px;
      }
      
      .btn-right{
          right:-50px;
      }

}
@media screen and (min-width:992px){
   /* nav section */
    .login{
        position:static;
    }
    .bg-nav-site{
        background-color: var(--siteColor);
        position: static;
        width: auto;
        TRANSFORM: TRANSLATEX(0);
    }
    .bg-nav-site a,.navbar-nav .nav-link.active{
        color:#fff !important;
    }
    .dropdown-menu a{
        color:#000 !important;
    }

    .menulinks{
        border-bottom:none;
    }
   /* nav section */

   /* home section */
   .BannerPics {
    bottom:-175px;
}

.BannerCaption{
    top:40px;
}


    .heading{
        font-size:4rem;
    }

    .f-p{
        font-size:1rem;
    }
    
   /* home section */
  
}

@media screen and (min-width:1200px){
    .BannerPics {
        bottom:-200px;
    }
    
    .BannerCaption{
        top:80px;
    }
    
    
}
